# ******************************* OS Specific ******************************** #
# Windows
Thumbs.db
# MacOS
.DS_Store

# ********************************* Python *********************************** #
*__pycache__

# ******************************* C Compilers ******************************** #
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# KDE specific
.directory

# ******************************* MPLAB X IDE ******************************** #
*.X/build/
*.X/debug/
*.X/dist/
*.X/.generated_files/
*.X/nbproject/private/
*.X/nbproject/Makefile-*

# ********************************* Ceedling ********************************* #
build/artifacts
build/gcov
build/logs 
build/temp
build/test

# ********************************** Altium ********************************** #
__Previews
History
Logs
Generated Documents
*.htm
*.drc
*.html
*.$$$
*.LOG
*.PrjPcbStructure
"Status Report.Txt"

# ********************************** KiCAD *********************************** #
# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# ********************************** OrCAD *********************************** #
# *********** CIS Capture *********** #
# ******* Lock File ******* #
*.DSNlck
# ******** Backups ******** #
*.DBK
# ***** Add If Needed ***** #
#*.bak - Backup files created by various operations.
#*.dsn~ - Temporary files for schematic designs.
#*.log - Log files generated by the application.
#*.opj.autosave - Autosave files for the project.
#__Previews/ - Folder containing preview images of schematics.
#*.olb~ - Temporary library files.
#*.chg, *.crf, *.dsn.REV* - Various temporary or backup files related to design revisions and changes.
#*.mnl - Netlist files which can be regenerated.

# ********** Allegro Layout ********* #
# ******* Lock File ******* #
*.brd.lck
# ******** Backups ******** #
AUTOSAVE.brd
*.SAV
last_import_time.txt
# **** Generated Files **** #
*.did
*.jrl
*.jrl,[0-9]*
*.dmp
*.log
*.log,[0-9]*
# **** Duplicate Files **** #
*.txt,[0-9]*
*.dat,[0-9]*
*.rpt,[0-9]*
# *** Schematic Picture *** #
* Schematic - ******-***-**.png
# ***** Add If Needed ***** #
# *.bck - Backup files
# *.alb - Backup files
# *.alg, *.drl - Generated files for manufacturing that can be recreated.
# *.b[0-9] - Backup files for PCB designs.
# *.dsn~ - Temporary files for board designs.
# *.rpt - Report files that can be regenerated as needed.
# *.$$$ - Temporary files.
# *.pro - Profile files which might contain user-specific settings.

# ************* General ************* #
# ******* Lock File ******* #
*.OLBlck
# **** Generated Files **** #
master.tag
*_convert.txt
# *** Generated Folders *** #
GPUCache/
signoise.run/
# ***** Add If Needed ***** #
# *.lck - Lock files that are used to prevent simultaneous edits.
# settings/ - Directory that may contain user-specific settings or preferences.
# output/ - Directory where generated output files are stored, such as Gerber files, unless these are explicitly required for version control.

# ************************** Office Temporary files ************************** #
# Excel
~$*.xls*
# Word
~$*.doc*
# Powerpoint
~$*.ppt*

# *********************************** Misc *********************************** #
# Misc
.svn
*.bak
WIP *.*

# ********************************* LT Spice ********************************* #
# Generated Files
**/Analysis/**/*.net
**/Analysis/**/*.op.raw
**/Analysis/**/*.raw

# ***************************** Exclude For Now ****************************** #
# Documents under construction that are not ready for inclusion
WIP*
# Files and folders that are temporary duplicates of existing files for reference
*.old
**/OLD/
# Documents or folders specifically marked for deletion
*DeleteMe*
**/*DeleteMe*/

# *************************************  ************************************* #
